gitdemo/src/main/mule/gitdemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4180aec2-fda7-4415-a882-9f83d9243c6b" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="gitdemoFlow" doc:id="9417800c-7434-4521-bbee-9eef804ac337" >
		<http:listener doc:name="Listener" doc:id="21ae834a-9026-4edf-b6e3-4be78af06f4d" config-ref="HTTP_Listener_config" path="/gitdemo"/>
		<set-payload value='#["Welcome"]' doc:name="Set Payload" doc:id="f9d75870-bd11-4421-adaf-301f1ddd35fa" />
		<ee:transform doc:name="Transform Message" doc:id="773a1315-d9ea-4c6a-9e67-7883c7573df5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
